<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- general application log -->
	<appender name="MainLogFile" class="org.apache.log4j.FileAppender">
		<param name="File" value="server.log" />
		<param name="Threshold" value="INFO" />
		<layout class="com.feescorner.serverstartup.logUtils.CustomHtmlLayout">

		</layout>
	</appender>
	<!-- additional fooSystem logging -->
	<appender name="FeesCornerServerStatupLogs" class="org.apache.log4j.FileAppender">
		<param name="File"
			value="C:\Users\Aniruthan\AppData\Roaming\serverStartup\serverStartuplogs.html" />
		<layout class="com.feescorner.serverstartup.logUtils.CustomHtmlLayout"/>
	</appender>
	<appender name="Masterdata" class="org.apache.log4j.FileAppender">
		<param name="File"
			value="C:\Users\Aniruthan\AppData\Roaming\masterDataModule\masterDatalogs.html" />
		<layout class="com.feescorner.serverstartup.logUtils.CustomHtmlLayout"/>
	</appender>

	<!-- Startup logging files -->
	<logger name="com.feescorner.serverstartup">
		<level value="DEBUG" />
		<appender-ref ref="FeesCornerServerStatupLogs" />
	</logger>
	<!-- Masterdata logging files -->
	<logger name="com.feescorner.masterdata">
		<level value="DEBUG" />
		<appender-ref ref="Masterdata" />
	</logger>
	<!-- default logging -->
	<root>
		<level value="INFO" />
		<appender-ref ref="MainLogFile" />
	</root>
</log4j:configuration>